@model PagedList.IPagedList<CourseWork.Models.Specialty>

@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            specialtyCode
        </th>
        <th>
            facultyName
        </th>
        <th>
            qualification
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.specialtyCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Faculty.facultyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.qualification)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.specialtyCode }) |
                @Html.ActionLink("Details", "Details", new { id = item.specialtyCode }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.specialtyCode })
            </td>
        </tr>
    }

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
