@model PagedList.IPagedList<CourseWork.Models.Search1_1_Result>

@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />


@{
    ViewBag.Title = "Index";
}

<h2>RequestFst</h2>

<table class="table">
    <tr>
        <th>
            groupCode
        </th>
        <th>
            avgSalary
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.groupCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.avgSalary)
            </td>
        </tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
